@font-face {
	font-family: 'law';
	src:url('fonts/law.eot?juxy6v');
	src:url('fonts/law.eot?#iefixjuxy6v') format('embedded-opentype'),
		url('fonts/law.woff?juxy6v') format('woff'),
		url('fonts/law.ttf?juxy6v') format('truetype'),
		url('fonts/law.svg?juxy6v#law') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'law';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE606:before {
	content: "\e606";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-uniE604:before {
	content: "\e604";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE608:before {
	content: "\e608";
}
.icon-uniE609:before {
	content: "\e609";
}
.icon-uniE60a:before {
	content: "\e60a";
}
.icon-uniE60b:before {
	content: "\e60b";
}
.icon-uniE60c:before {
	content: "\e60c";
}
.icon-uniE60d:before {
	content: "\e60d";
}
