/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

//HOMEPAGE RESPONSIVE ADJUSTMENTS
.cta-container { //bigger homepage image at this size
	min-height: 540px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

.cta-textbox {
	top: 340px;
	h1 {
		font-size: 2.4rem;
		.aligncenter
	}
	p {
		font-size: 1.2rem;
	}
}

#menu-footer-links-left {
	display: inline-block;
	position: static;
	clear:both;
}