/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

//HOMEPAGE RESPONSIVE ADJUSTMENTS
.cta-hero {
	height:560px;
	background-position: 50% 25%;
}

.cta-textbox {
	h1 {
		font-size: 2.4rem;
		.aligncenter
	}
	p {
		font-size: 1rem;
	}
}

#menu-footer-links-left {
	display: inline-block;
	position: static;
	clear:both;
}